* {
  box-sizing: border-box;
  margin: 0;
}

table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid black;
  padding: 10px 20px;
}

.window{
  background-color: white;
  width: 450px;
  height: 450px;
  position:absolute;
  z-index: 9;
  border: 1px solid black;
}

.top{
  cursor: move;
  width: 100%;
  height: 20px;
  border: 1px solid black;
}
.right{
  cursor: e-resize;
  position: absolute;
  z-index: 10;
  width: 14px;
  height: 100%;
  right: -5px;
}
.right_corner{
  cursor: se-resize;
  position: absolute;
  z-index: 11;
  width: 14px;
  height: 14px;
  bottom: -5px;
  right: -5px;
}
.bottom{
  cursor: s-resize;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 14px;
  bottom: -5px;
}
.left_corner{
  cursor: sw-resize;
  position: absolute;
  z-index: 11;
  width: 14px;
  height: 14px;
  bottom: -5px;
  left: -5px;
}
.left{
  cursor: w-resize;
  position: absolute;
  z-index: 10;
  width: 14px;
  height: 100%;
  left: -5px;
}
.frame{
  border: none;
  width: 100%;
  height: 100%;
}

.subFrame{
  border: none;
}

.container{
  border: 2px solid #201d1b;
  border-radius: 0px;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(16, minmax(0,1fr));
  grid-template-rows: repeat(9, minmax(0,1fr));
  grid-template-areas: 
  "hd hd hd rb rb rb rb rb rb rb rb rb rb wk wk wk"
  "fv fv fv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "fv fv fv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "fv fv fv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "fv fv fv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "fv fv fv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "sv sv sv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "sv sv sv vp vp vp vp vp vp vp vp vp vp vp vp vp"
  "sv sv sv vp vp vp vp vp vp vp vp vp vp vp vp vp";
}
canvas {
  width: 100%;
  height: 100%;
}
.container > div {
  border: 1px solid black;
}

.ribbon{
  display: flex;
  justify-content: center;
}
.header{
  flex-grow: 1;
  text-align: center;
}
.ribbonBottom{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item{
  flex-grow: 1;
  text-align: center;
}
.section{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
}
.action{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.item:hover .action {
  display: block;
}

h2{
  text-align: center;
}
.workspace {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.workspace_buttons {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.workspace:hover .workspace_buttons {
  display: block;
}

